sudo: required

language: python

python:
  - "2.7"

before_install:
  - pip install https://github.com/ome/zeroc-ice-py-manylinux/releases/download/0.0.10/zeroc_ice-3.6.4-cp27-cp27mu-manylinux2010_x86_64.whl
  - python -c "import Ice; print Ice.stringVersion()"

script:
  - python setup.py sdist
  - pip install dist/omero-py*gz
  - python -c "import omero_version; print omero_version.omero_version"
  - omero version

deploy:
  provider: pypi
  user: $PYPI_USER
  password: $PYPI_PASSWORD
  on:
    tags: true
