language: python
jobs:
  include:
    - name: Windows
      os: windows
      language: sh
      before_install:
        - choco install python3 --version 3.7.3
        - export PATH="/c/Python37:/c/Python37/Scripts:$PATH"
      install: python -m pip install --upgrade pip wheel pytest tox
      script:
        - tox -e py37-win
    - name: OS X
      os: osx
      osx_image: xcode11.2  # Python 3.7.4 running on macOS 10.14.4
      language: shell       # 'language: python' is an error on Travis CI macOS
      script:
        - tox -e py37
    - name: Python36
      os: trusty
      python: "3.6"
      script:
        - tox -e py36
    - name: Python37
      os: xenial
      python: "3.7"
      script:
        - tox -e py37

install: pip3 install --upgrade pip wheel pytest tox

cache:
  directories:
  - $HOME/.cache/pip
